body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.heart {
    color: #ff0000;
}

.small {
    font-size: 0.75rem;
}
#cabecalho {
    background-color: yellow;
    color: red;
    padding: 40px;
    text-align: center;
}
#body-index {
    background-color: rgb(247, 255, 138);
}
#botao-adicionar {
    color: white;
    text-decoration: none;
}
#titulo-principal {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 25px;
    font-size: 30px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}
#fita {
    background-color: red;
    height: 10px;
    margin-bottom: 20px;
}
#cpf-cor {
    color: rgb(138, 26, 26);
}