<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Funcionário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body id="body-index">
    <header id = "cabecalho">
        <h1>LOS FUNCIONÁRIOS</h1>
    </header>
    <header id ="fita"></header>
    <div class="container">
        <h1 id="titulo-principal">Cadastrar Funcionário</h1>
        
        <form class="row g-3" method="POST" action="{{ url_for('create') }}" class="formulario">
            <div class="col-md-6">
                <label class="form-label" for="pnome">Nome</label>
                <input class="form-control" type="text" 
                    id="pnome" 
                    name="pnome" 
                    placeholder="Digite o primeiro nome"
                    required
                    minlength="2">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="unome">Sobrenome</label>
                <input class="form-control" type="text" 
                    id="unome" 
                    name="unome" 
                    placeholder="Digite o sobrenome"
                    required
                    minlength="2">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="cpf">CPF</label>
                <input class="form-control" type="text" 
                    id="cpf" 
                    name="cpf" 
                    placeholder="CPF (somente números)" 
                    required
                    maxlength="11"
                    pattern="[0-9]{11}">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="cpf_supervisor">CPF do Supervisor</label>
                <input class="form-control" type="text" 
                    id="cpf_supervisor" 
                    name="cpf_supervisor" 
                    placeholder="CPF do supervisor" 
                    required
                    maxlength="11"
                    pattern="[0-9]{11}">
            </div>
            
            <div class="col-md-6">
                <label class="form-label" for="numero_departamento">Número do Departamento</label>
                <input class="form-control" type="number" 
                    id="numero_departamento" 
                    name="numero_departamento" 
                    placeholder="Número do departamento"
                    required
                    min="1">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="salario">Salário (R$)</label>
                <input class="form-control" type="number" 
                    id="salario" 
                    name="salario" 
                    step="0.01" 
                    value="1518.01" 
                    required
                    min="0">
            </div>
            
             <div class="col-md-6">
                <label class="form-label" for="endereco">Endereço</label>
                <input class="form-control" type="text" 
                    id="endereco" 
                    name="endereco" 
                    placeholder="Digite o endereço completo"
                    required
                    minlength="5">
            </div>

            <div class="col-md-3">
                <label class="form-label">Sexo</label>
                <select name="sexo" class="form-select" required>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label" for="data_nasc">Data de Nascimento</label>
                <input class="form-control" 
                    type="date" 
                    id="data_nasc" 
                    name="data_nasc" 
                    required>
            </div>
            
            <!-- GRUPO DE BOTÕES -->
            <div class="col-12">
                <button type="submit" class="btn btn-danger">Cadastrar</button>                
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
            </div>
            </div>
        </form>
    </div>
</body>
</html>